// @import url('https://fonts.googleapis.com/css?family=Work+Sans');

// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

$font-family-base: 'IBM Plex Sans', sans-serif;

$enable-rounded: false;
$enable-shadows: true;
$link-hover-decoration: none;

$theme-colors: (
  primary: #1f01b9,
  secondary: #007fff,
  danger: #d81159,
  success: #1effbc,
  light: #fffaff,
  dark: #373f51,
);

$input-btn-focus-width: 0rem;

// $body-bg: #1f01b9;
// $body-bg: #d4dcff;
$body-color: #373f51;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  user-select: none;
}

h1, h2, h3, h4 {
  color: theme-color(primary)
}

.container {
  @extend .p-3;
  background: white;
}

.item {
  padding: 1rem;
  background-color: theme-color-level(primary, -11);
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all .05s;
  &:hover {
    background-color: theme-color-level(primary, -10);
  }
}

.option {
  cursor: pointer;
  // transition: background-color .05s;
  &:hover {
    background-color: theme-color-level(primary, -11)
  }
}

.cnav {
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;

  &:hover {
    color: theme-color(primary);
    background-color: white;
  }

  &.user {
    font-weight: 600;
  }
}

