// @import url('https://fonts.googleapis.com/css?family=Work+Sans');

// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

$font-family-base: 'IBM Plex Sans', sans-serif;

$enable-rounded: false;
$enable-shadows: true;
$link-hover-decoration: none;

$theme-colors: (
  light: #efefef,
  dark: #2b2d42,
  primary: #192bc2,
  secondary: #d1345b,
  success: #1effbc,
);

$input-btn-focus-width: 0rem;

$body-bg: #efefef;
$body-color: #2b2d42;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  user-select: none;
}

.container {
  @extend .p-3;
  background: white
}