// @import url('https://fonts.googleapis.com/css?family=Work+Sans');

// @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

$font-family-base: 'IBM Plex Sans', sans-serif;

$enable-rounded: false;
$enable-shadows: true;

$theme-colors: (
  light: #efefef,
  dark: #2b2d42,
  primary: #192bc2,
  secondary: #d1345b,
  success: #1effbc
);

$input-btn-focus-width: 0rem;

$body-bg: #efefef;
$body-color: #2b2d42;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  @extend .px-3;
  @extend .pb-3;
  background: white
}